.footer {
  height: 5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  color: #000000;
  border-top: solid 2px rgba(0, 0, 0, 0.1);
  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.3rem;
  }
  &__img {
    width: 5.5rem;
    height: 2rem;
    background-size: cover;
  }
  &__date {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
  }
  &__contacts {
    display: flex;
    column-gap: 1.8rem;
  }
}

@media (max-width: 750px) {
  .footer {
    &__content {
      padding: 0 1rem;
    }
    &__contacts {
      column-gap: 1.2rem;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    &__contacts {
      flex-direction: column;
      row-gap: 0.3rem;
    }
  }
}
