@import './styles/nullstyles';
@import './styles/variables';

html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  margin-bottom: auto;
  padding: 2.5rem 0;
}
