@import '../../../styles/variables';

.header {
  .header__link {
    margin: 2rem;
    display: block;
    color: #52577e;
    font-family: inherit;
    text-transform: none;
    font-size: 1.1rem;
    transition: 0.3s;
    &:hover {
      color: black;
    }
    &.active {
      text-decoration: underline;
      text-decoration-color: $purple;
      text-decoration-thickness: 3px;
      text-underline-offset: 29px;
      color: black;
    }
  }

  #language-switcher {
    position: relative;
    display: inline-block;
    width: calc(#{$height} * 2);
    height: $height;
    transform: translateY(40%);
    transition: transform 0.17s $speed3;

    .language-switcher__checkbox {
      opacity: 0;
      width: 0;
      height: 0;
    }

    #select-ru,
    #select-en {
      position: absolute;
      font-size: #{$height / 2.5};
      top: #{$height / 4};
      color: #fff;
      mix-blend-mode: difference;
      line-height: #{$height / 2};
    }

    #select-ru {
      left: #{$height / 3.5};
    }

    #select-en {
      right: #{$height / 4};
    }
  }

  #round-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $purple;
    transition: 0.4s;
  }

  #round-slider:before {
    position: absolute;
    content: '';
    height: $height;
    width: $height;
    left: 0;
    bottom: 0;
    background-color: white;
    border: solid 1px $purple;
    transition: 0.4s;
  }

  .language-switcher__checkbox:checked + #round-slider {
    background-color: $purple;
  }

  .language-switcher__checkbox:checked + #round-slider:before {
    transform: translateX($height);
  }

  #round-slider {
    border-radius: $height;
  }

  #round-slider:before {
    border-radius: 50%;
  }
}

#menu-appbar > * {
  box-shadow: none;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0 !important;
}
